<h1 class="mt-3">Selectores anidados</h1>
<hr />

<form [formGroup]="countryForm">
  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente:</label>
      <select formControlName="region" class="form-control" >
        @for (region of regions(); track region){
          <option [value]="region">
            {{ region }}
          </option>
        }
      </select>
    </div>
  </div>

  <!-- Countries -->

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>
      <select formControlName="country" class="form-control">
        @for (country of countriesByRegion(); track country.cca3){
          <option [value]="country.cca3">
            {{ country.name.common }}
          </option>
        }
      </select>
    </div>
  </div>


  <!-- Countries -->

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select formControlName="border" class="form-control">
        @for (country of bordersByCountry(); track country.cca3){
          <option [value]="country.cca3">
            {{ country.name.common }}
          </option>
        }
      </select>
    </div>
  </div>

</form>

<h3>Formulario</h3>
<span>
  <p>Valid: {{ countryForm.valid | json}}</p>
  <p>Value: {{ countryForm.value | json }}</p>
</span>
